
<!-- END OF PAGE CONTENT -->
</main>
    <script src="/user.js"></script>
    <script>
        function toggleNavbar() {
            document.querySelector('.navbar-burger').classList.toggle('is-active');
            document.querySelector('.navbar-menu').classList.toggle('is-active');
        }

        const elemsForUsers = document.getElementsByClassName("for-users");
        const username      = document.getElementById("username");
        const loginButton   = document.getElementById("login-button");
        const logoutButton  = document.getElementById("logout-button");

        for (const elem of elemsForUsers)
            elem.style.display = "none";
        logoutButton.style.display = "none";

        function updateWithUser(user) {
            if (user) {
                for (const elem of elemsForUsers)
                    elem.style.display = "";
                loginButton.style.display = "none";
                logoutButton.style.display = "";
                username.innerText = user.username;
            }
        }
        // If User in cache, update GUI.
        // Else, User.get() returns 'null'.
        updateWithUser(User.rawget());

        loginButton.onclick = async () => {
            updateWithUser(await User.askLogin());
        };
        logoutButton.onclick = () => {
            User.logout();
            updateWithUser(null);
        };

    </script>
</body>
</html>
