<div class="container">
    <h1 class="title">Bienvenue sur TravelExpress !</h1>
    <p class="subtitle">
        <strong>FAUSSE</strong> application web de covoiturage !
    </p>
    <p>
        TravelExpress est une <strong>fausse</strong> application web pour mettre
        en relation des conducteurs effectuant régulièrement le même trajet, avec
        des usagers qui cherchent à se déplacer.
    </p>
    <p>
        Cette application a été réalisée par <em>Julien Vernay</em>
        (<a href="https://www.jvernay.fr">jvernay.fr</a>) pour le cours de Systèmes Répartis
        dispensé à l'UQAC en 2021.
    </p>
    
    <div class="has-text-centered">
        <a style="margin: 50px auto 0"class="button is-primary is-outlined" href="/search.html">
            Faites une recherche de covoiturage !</a>
    </div>

</div>

