<div class="message is-danger" id="error-msg" style="display: none;">
    <div class="message-header">
    <p>Erreur de formulaire</p>
    <button class="delete" aria-label="delete"
        onclick="document.getElementById('error-msg').style.display = 'none';">
    </button>
    </div>
    <div class="message-body" id="error-body"></div>
</div>
<form class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
        <div class="tile is-parent">
            <div class="tile is-child field">
                <label class="label">Ville de départ</label>
                <div class="select has-addons">
                    <select id="departure-province">
                        <option>Province...</option>
                    </select>
                </div>
                <div class="select">
                    <select id="departure-city" disabled></select>
                </div>
            </div>
            <div class="tile is-child field">
                <label class="label">Ville d'arrivée</label>
                <div class="select has-addons">
                    <select id="arrival-province">
                        <option>Province...</option>
                    </select>
                </div>
                <div class="select">
                    <select id="arrival-city" disabled></select>
                </div>
            </div>
            <div class="tile is-child field">
                <label class="label">Nombre de passagers</label>
                <input id="passengers" class="input" type="number" min="1" max="20">
            </div>
        </div>

        <div class="tile is-parent">
            <div class="tile is-child field">
                <label class="label">Heure de départ</label>
                <input id="departure-hour"  class="input mr-6" type="time" min="00:00" max="23:59">
            </div>
            <div class="tile is-child field">
                <label class="label">&nbsp;<br/></label>
                <label class="label">
                    <input type="checkbox" id="is-round-trip">Aller-retour ?
                </label>
            </div>
            <div class="tile is-child field" id="return-hour-field">
                <label class="label">Heure de retour</label>
                <input id="return-hour" type="time" min="00:00" max="23:59" value="12:00">
            </div>
        </div>

        <div class="tile is-parent">
            <div class="tile is-child">
                <br/>
                <label class="radio">
                    <input id="is-punctual" type="radio" name="frequency" checked>
                    Ponctuel
                </label>
                <br/>
                <label class="radio">
                    <input id="is-regular" type="radio" name="frequency">
                    Régulier
                </label>
            </div>
            <div class="tile is-child field is-8" id="field-punctual-day">
                <label class="label">Jour</label>
                <input id="punctual-day" type="date">
            </div>
            <div class="tile is-child field is-9" id="field-regular-days">
                <br/>
                <label class="checkbox mr-6">
                    <input type="checkbox" id="monday"> Lundi
                </label>
                <label class="checkbox mr-6">
                    <input type="checkbox" id="tuesday"> Mardi
                </label>
                <label class="checkbox mr-6">
                    <input type="checkbox" id="wednesday"> Mercredi
                </label>
                <label class="checkbox mr-6">
                    <input type="checkbox" id="thursday"> Jeudi
                </label>
                <label class="checkbox mr-6">
                    <input type="checkbox" id="friday"> Vendredi
                </label>
                <label class="checkbox mr-6">
                    <input type="checkbox" id="saturday"> Samedi
                </label>
                <label class="checkbox mr-6">
                    <input type="checkbox" id="sunday"> Dimanche
                </label>
            </div>
            <div class="tile is-child field">
                <label class="label">&nbsp;</label>
                <input id="submit" type="submit" class="button is-primary">
            </div>
        </div>
    </div>
</form>

<script src="/bulma-calendar.min.js"></script>
<script src="/towns.js"></script>
<script>

// Initializes bulmaCalendar's datepickers and timepickers.

const minDate = new Date();
const minDateStr = `${minDate.getFullYear()}-${minDate.getMonth()+1}-${minDate.getDate()}`;

const dates = bulmaCalendar.attach('[type="date"]', {
    type: "date", dateFormat: "yyyy-MM-dd",
    lang: "fr",
    cancelLabel: "Annuler", clearLabel: "Réinitialiser", todayLabel: "Aujourd'hui",
    validateLabel: "Valider",
    enableYearSwitch: false,
    minDate: minDateStr
});
const times = bulmaCalendar.attach('[type="time"]', {
    type: "time",
    lang: "fr",
    cancelLabel: "Annuler", clearLabel: "Réinitialiser",
    validateLabel: "Valider",
    startTime: "12:00",
});

// Specify manual margin for the calendars.

for (const inputTime of times) {
    document.getElementById(inputTime.id).style.marginRight = "5rem";
}

// HTML elements which require direct acces from JS.

const errorMsg = document.getElementById("error-msg");
const errorBody = document.getElementById("error-body");

const departure = { province: document.getElementById("departure-province"),
                    city:     document.getElementById("departure-city") };
const arrival   = { province: document.getElementById("arrival-province"),
                    city:     document.getElementById("arrival-city") };
const passengers = document.getElementById("passengers");
const departureHour   = document.getElementById("departure-hour").bulmaCalendar;
const returnHour      = document.getElementById("return-hour").bulmaCalendar;
const returnHourField = document.getElementById("return-hour-field");
const isRoundTrip     = document.getElementById("is-round-trip");
const isRegular = document.getElementById("is-regular");
const isPunctual = document.getElementById("is-punctual");
const fieldPunctualDay = document.getElementById("field-punctual-day");
const fieldRegularDays = document.getElementById("field-regular-days");
const punctualDay = document.getElementById("punctual-day");
const regularDays = [];
for (const id of ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"])
    regularDays.push(document.getElementById(id));
const submit = document.getElementById("submit");

// Checking isRoundTrip will show returnHourField .

isRoundTrip.onchange = () => {
    returnHourField.style.opacity = isRoundTrip.checked ? 1: 0;
};
isRoundTrip.onchange();

// Checking isPunctual will show fieldPunctualDay, and vice-versa.

isPunctual.onchange = isRegular.onchange = () => {
    fieldPunctualDay.style.display = isPunctual.checked ? "": "none";
    fieldRegularDays.style.display = isRegular.checked  ? "": "none";
};
isPunctual.onchange();

// Populating <select> for departure and arrival towns with retrieved towns.

// 'Towns' defined in towns.js
Towns.get().then(towns => {
    // Provinces <select>
    for (const province_name of Object.keys(towns)) {
        for (const {province,query} of [departure,arrival]) {
            const opt = document.createElement("option");
            opt.appendChild(document.createTextNode(province_name));
            province.appendChild(opt);
        }
    }
    
    // Cities <select> (depending on current province selected)
    for (const {province, city} of [departure, arrival]) {
        province.onchange = () => {
            city.innerHTML = "";
            city.disabled = (province.value == "Province...");
            cities = towns[province.value];
            if (!cities)
                return;
            for (const [ city_name, id ] of Object.entries(cities)) {
                const opt = document.createElement("option");
                opt.appendChild(document.createTextNode(city_name));
                opt.value = id;
                city.appendChild(opt);
            }
        }
    }

    // When the user submits the form, wanting to create a new travel.
    document.getElementsByTagName("form")[0].onsubmit = () => {
        // Create the appropriate URI containing travel information.
        const params = new URLSearchParams();
        params.set("from", departure.city.value);
        params.set("dest", arrival.city.value);
        params.set("passengers", passengers.value);
        params.set("hour", departureHour.value().replace(":", ""));
        if (isRoundTrip.checked)
            params.set("return", returnHour.value().replace(":", ""));
        if (isPunctual.checked) {
            params.set("punctual", punctualDay.bulmaCalendar.value());
        } else {
            let str = "";
            for (const day of regularDays)
                str += (day.checked ? "x" : "-");
                params.set("regular", str);
        }
        
        // Prepare a POST request.

        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/newtravel?" + params.toString(), true);

        // Waiting to get User (potentially asking user to log in)
        // Done asynchronously because we need to return 'false' early
        // to ensure form submission will not redirect user to another page.
        (async function() {
            const user = await User.get();
            if (!user) return;
            
            xhr.onload = () => {
                const response = JSON.parse(xhr.responseText);
                if (response.error) {
                    // If error, display to user.
                    errorMsg.style.display = "";
                    errorBody.innerText = response.error;
                } else {
                    // We have created the travel. Redirect to /profile.html
                    window.location = "/profile.html";
                }
            };
            xhr.send(user.token);
        })();

        return false;
    };
});
</script>