
<div id="root">

</div>

<script src="/towns.js"></script>
<script src="/user.js"></script>
<script src="/travel.js"></script>
<script>

(async function() {
    // If user is not logged in, redirection to index.html.
    const user = await User.get();
    if (!user) { window.location = "/"; return; }

    const towns = await Towns.get();
    loadTownsId(towns);

    // Get travels of user asynchronously.
    const travels = await new Promise((resolve,reject) => {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/travels", true);
        xhr.onload = () => {
            // If error, throw exception...
            const response = JSON.parse(xhr.responseText);
            if (response.error)
                reject(new Error(response.error));
            else
                resolve(response);
        };
        xhr.send(user.token);
    });

    // Construct the page for each travel.
    const root = document.getElementById("root");

    for (const travel of travels) {
        createTravelEntry(travel, root);
    }
    if (travels.length == 0) {
        createElem("p", "", root, "Vous n'avez aucun trajet.");
    }
})();

</script>