<div class="container">
    <h1 class="title">Rechercher un trajet</h1>

    <div class="message is-danger" id="error-msg" style="display: none;">
        <div class="message-header">
        <p>Erreur de formulaire</p>
        <button class="delete" aria-label="delete"
            onclick="document.getElementById('error-msg').style.display = 'none';">
        </button>
        </div>
        <div class="message-body" id="error-body"></div>
    </div>
    <form class="columns">
        <div class="column">
            <label class="label">Ville de départ</label>
            <div class="select has-addons">
                <select id="departure-province">
                    <option>Province...</option>
                </select>
            </div>
            <div class="select">
                <select id="departure-city" disabled></select>
            </div>
        </div>
        <div class="column">
            <label class="label">Ville d'arrivée</label>
            <div class="select has-addons">
                <select id="arrival-province">
                    <option>Province...</option>
                </select>
            </div>
            <div class="select">
                <select id="arrival-city" disabled></select>
            </div>
        </div>
        <div class="column field">
            <label class="label">Date de départ</label>
            <input type="date">
        </div>
        <div class="column field">
            <label class="label">&nbsp;</label>
            <input type="submit" class="button is-primary">
        </div>
    </form>

    <div id="root"></div>

</div>


<script src="/bulma-calendar.min.js"></script>
<script src="/towns.js"></script>
<script src="/travel.js"></script>
<script>

// Initializes bulmaCalendar's datepicker.

const minDate = new Date();
const minDateStr = `${minDate.getFullYear()}-${minDate.getMonth()+1}-${minDate.getDate()}`;

const calendars = bulmaCalendar.attach("[type='date']", {
    type: "date", dateFormat: "yyyy-MM-dd",
    lang: "fr",
    cancelLabel: "Annuler", clearLabel: "Réinitialiser", todayLabel: "Aujourd'hui",
    validateLabel: "Valider",
    enableYearSwitch: false,
    minDate: minDateStr
});

// Check if there are search parameters in the page query:
// if so, update form to put these parameters in the fields.

const search_query = new URLSearchParams(window.location.search);
if (search_query.has("date"))
    calendars[0].value(search_query.get("date"));

const departure = { province: document.getElementById("departure-province"),
                    city:     document.getElementById("departure-city"),
                    query:    Number(search_query.get("from")) };
const arrival   = { province: document.getElementById("arrival-province"),
                    city:     document.getElementById("arrival-city"),
                    query:    Number(search_query.get("dest")) };

// Populating <select> with retrieved towns.
Towns.get().then(towns => {

    // Provinces <select>
    for (const province_name of Object.keys(towns)) {
        for (const {province,query} of [departure,arrival]) {
            const opt = document.createElement("option");
            opt.appendChild(document.createTextNode(province_name));
            province.appendChild(opt);
        }
    }
    
    // Cities <select> (depending on current province selected)
    for (const {province, city} of [departure, arrival]) {
        province.onchange = () => {
            city.innerHTML = "";
            city.disabled = (province.value == "Province...");
            cities = towns[province.value];
            if (!cities)
                return;
            for (const [ city_name, id ] of Object.entries(cities)) {
                const opt = document.createElement("option");
                opt.appendChild(document.createTextNode(city_name));
                opt.value = id;
                city.appendChild(opt);
            }
        }
    }

    // If query parameters (search.html?...) are given, update form
    for (const {province, city, query} of [departure, arrival])
        (function() {
            if (!query) return;
            for (const [province_name, cities_names] of Object.entries(towns))
                for (const [city_name, id] of Object.entries(cities_names))
                    if (id == query) {
                        province.value = province_name;
                        province.onchange();
                        city.value = id;
                        return;
                    }
        })();

    // If we have query, actually do a server request
    const xhr = new XMLHttpRequest();
    xhr.open("GET", "/api/search" + window.location.search, true);
    xhr.onload = () => {
        const response = JSON.parse(xhr.responseText);
        if (response.error)
            throw new Error(response.error);
        // We have all relevant travels in 'response'.
        const root = document.getElementById("root");
        
        loadTownsId(towns);
        for (const travel of response) {
            createTravelEntry(travel, root);
        }
        if (response.length == 0) {
            createElem("p", "", root, "Aucun trajet n'a été trouvé.");
        }
    };
    xhr.send();

    // Data validation on form submission
    document.getElementsByTagName("form")[0].onsubmit = () => {
        let errors = "";

        if (!departure.city.value)
            errors += "- La ville de départ n'a pas été spécifiée.\n";
        if (!arrival.city.value)
            errors += "- La ville d'arrivée n'a pas été spécifiée.\n";

        const date_value = calendars[0].value();
        if (!date_value)
            errors += "- Aucune date n'a été spécifiée.\n";

        if (errors) {
            document.getElementById("error-msg").style.display = "";
            document.getElementById("error-body").innerText = errors;
            return false;
        }

        // Generate query URI to send to server.
        const params = new URLSearchParams();
        params.set("from", departure.city.value);
        params.set("dest", arrival.city.value);
        params.set("date", date_value);
        
        window.location = "/search.html?" + params.toString();
        return false;
    };
});



</script>

